body {
	background-image: url("http://www.donsmaps.com/images29/middleearthlargelargerstill.jpg");
	background-size: auto;
}

header {
	text-align: center;
	font-size: 48px;
	background: rgba(128,128,128, 0.9);
	font-family: 'Cinzel Decorative', cursive;
	padding-left: 70px;
}

h1 {
	position: relative;
	color: white;
	background: rgba(128,128,128, 0.7);
	font-size: 28px;
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
}

span {
	margin-left: 45px;
}
.hero-name {
	text-align: center;
	font-size: 20px;
	margin: 0px;
	color: white;
	padding: 2px;
	font-family: 'IM Fell Double Pica', serif;
}

.villain-name {
	text-align: center;
	font-size: 20px;
	margin: 0px;
	color: white;
	padding: 2px;
	font-family: 'IM Fell Double Pica', serif;
}

.hero-box {
	width: 100%;
	height: 130px;
	border-color: green;
	border-width: 4px;
	border-style: outset;
	background: linear-gradient(to bottom right, #733621, #f8c65d);
	margin: 1px;
}

.hero-box:hover {
	border-color: blue;
	border-width: 3px;
}


.villain-box {
	width: 100%;
	height: 130px;
	border-color: red;
	border-width: 4px;
	border-style: outset;
	background: linear-gradient(to bottom right, black, #5f5f5f);
	margin: 1px;
}

.villain-box:hover {
	border-color: purple;
	border-width: 3px;
}

#heroBattleground {
	border-color: black;
	border-width: 3px;
	border-style: solid;
	border-right: 1px;
	width: 45%;
	height: 300px;
	background: rgba(0,0,255,0.5);
	padding-top: 50px;
	margin-left: 20px;
}

#villainBattleground {
	border-color: black;
	border-width: 3px;
	border-style: solid;
	border-left: 2px;
	height: 300px;
	width: 45%;
	background: rgba(255,0,0,0.5);
	padding-top: 50px;
	margin-right: 5px;
}

.hp {
	color: white;
}

#victory {
	background: gold;
	height: 150px;
	text-align: center;
	font-size: 50px;
	font-family: 'Cinzel Decorative', cursive;
	margin-top: 10px;
	padding-top: 40px;
	border-color: grey;
	border-width: 6px;
	border-style: inset;
	position: absolute;
	z-index: 1;
	visibility: hidden;

}

#defeat {
	background: red;
	height: 150px;
	text-align: center;
	font-size: 50px;
	font-family: 'Cinzel Decorative', cursive;
	margin-top: 10px;
	padding-top: 40px;
	border-color: grey;
	border-width: 6px;
	border-style: inset;
	position: absolute;
	z-index: 2;
	visibility: hidden;

}

#stageComplete {
	background: lightblue;
	height: 150px;
	text-align: center;
	font-size: 50px;
	font-family: 'Cinzel Decorative', cursive;
	margin-top: 10px;
	border-color: grey;
	border-width: 6px;
	border-style: inset;
	position: absolute;
	z-index: 3;
	visibility: hidden;

}

img {
	width: 80%;
	height: 80px;
	margin-left: 15px;
	

}

#attack {
	background: #860202;
	color: white;
	border: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 12px;
	height: 40px;
	width: 60%;
	margin-top: 10px;
	position: relative;
	right: 13px;
}

#attack:hover {
	border-color: gold;
}

#stage {
	margin-top: 300px;
	margin-left: 20px;
	width: 100px;
	height: 100px;
	display: none;
}